/* Apply to ALL Bootstrap buttons */
.btn {
    transition: all 0.2s ease-in-out; /* smooth animation */
}

/* Hover effect */
.btn:hover {
    transform: scale(1.05);
}

#employeTable #serviceTable thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}


#employeTable #serviceTable thead th a {
    text-decoration: none; /* remove underline by default */
    color: inherit;        /* inherit the white/Bootstrap text color */
}

#employeTable #serviceTable thead th a:hover {
    text-decoration: underline; /* show underline only on hover */
}

