/* Apply to ALL Bootstrap buttons */
.btn {
    transition: all 0.2s ease-in-out; /* smooth animation */
}

/* Hover effect */
.btn:hover {
    transform: scale(1.05);
}

#employeTable thead th,
#serviceTable thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

#employeTable thead th a,
#serviceTable thead th a {
    text-decoration: none !important; /* remove underline by default */
    color: inherit;        /* inherit the white/Bootstrap text color */
}

#employeTable thead th a:hover,
#serviceTable thead th a:hover {
    text-decoration: underline !important; /* show underline only on hover */
}

